#MY IGNORE
*.class
Newton/*
#---------------------------------------------------
/SolutionOfEquation/nbproject/private/
/SolutionOfEquation/build/
/Interpolation/nbproject/private/
/Interpolation/build/
/LaGrangeInterpolation/nbproject/private/
/LaGrangeInterpolation/build/
/Integral1/nbproject/private/
/Integral1/build/
